
body {
  background: #1F4BB4 url(../img/fondo.jpg) repeat-x;
}
/* Estilos del menu principal*/
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.boton{
  border-style: solid;
  border-color: currentColor;
}
.info{
  margin-left: 25%;
}

.menu_bar {
	display:none;
}
.nv{
  position: relative;
  float: right;
  margin-top: -25%;
  margin-right: 30%;
}
.archivo{
  border-style: solid;
  border-right-style:double;
  border-left-style: double;
  width: 43%;
  margin-left: 28%;
  background-color: #8C85EF;
  font-style: normal;

}
#container{
  height: 350px;
  width: 450px;
  position: relative;
  float: right;
  margin-top: -27%;
}
.pre{
  float: right;
  border-style: solid;
  border-color: currentColor;
  border-radius: 10%;
  margin-top: -20%;
  margin-right: 10%;
}
.pre h1{


}
header {
  margin-top: -1.5%;
	width: 50%;
  margin-left: 25%;
  text-align: center;
}

header nav {
	background:#023859;
	z-index:1000;
	max-width: 1000px;
	width:95%;
	margin:20px auto;
}

header nav ul {
	list-style:none;
}

header nav ul li {
	display:inline-block;
	position: relative;
}

header nav ul li:hover {
	background:#E6344A;
}

header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}

header nav ul li a span {
	margin-right:10px;
}

header nav ul li:hover .children {
	display:block;
}

header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}

header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
	display: block;
}

header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}

	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background-color: currentColor;
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	.menu_bar span {
		float: right;
		font-size: 40px;
	}

	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	header nav ul li a {
		display: block;
	}

	header nav ul li:hover .children {
		display: none;
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-left:20px;
	}

	header nav ul li .caret {
		float: right;
	}
}
a span{
  color: blue;
  margin-right: 7px;
}
.secion{
  top: -70px;
  margin: auto;
  position: relative;
  float: right;
  /*margin-right: -50px;*/
}

.log{
	-moz-box-shadow:inset 0px 1px 0px 0px #f7edbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7edbe;
	box-shadow:inset 0px 1px 0px 0px #f7edbe;
	background-color:transparent;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:-5px;
	border:1px solid #a18338;
	display:inline-block;
	color:#14053d;
  cursor: pointer;
	font-family:Arial Black;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 50px #7ca8de;
  float:left;
  margin-right:auto;
  }
.log:active {
	position:relative;
	top:1px;
}
.log:hover {
	background-color:transparent;
}
img{
  width: 100px;
  height: 100px;
  position: relative;
  float: left;
  top: -80px;
  opacity: 0.80;
}

body, html {
         height: 100%;
         margin: 0px;

         font-family: helvetica;
         font-weight: 100;
     }
     body{
       overflow-y:scroll;
     }

     .main-content {
         width: 100%;
         height: 100%;
         padding: 10px;
         box-sizing: border-box;
         -moz-box-sizing: border-box;
         position: relative;
         margin-top:-5%;
     }
     .content{
         box-sizing: border-box;
         -moz-box-sizing: border-box;
          padding: 20px;
          width:auto;
          background-color: currentColor;


     }
     .content h1{
         font-weight: 100;
         text-align: center;
         font-family: cursive;
         color: white;
     }

     /*Estilos para menu de seleccion */
.obtener{
  position:relative;
  margin-top:70px;
  width: 875px;
  height: 100px;
  border-style: outset;
  border-color: #1CB4CF;
  border-width: thick;
  margin-left: 17%;
}
#legenda{
  position: absolute;
  font-family: arial;
  font-style: italic;
  float:left;
  margin: 5px;
  text-indent: 5px;
  font-size: 20px;
  color: blue;
}
.obd{
  border-radius: 5px;
  border-color: orange;
  border-style:solid;
  margin-left:10px;
}
.obtener option{
  padding: 5px;
}
.menu2{
  float: right;
  border-style:hidden;
  padding-right: 10%;
}
/*Estilos del boton generar reporte*/
.myButton {
	-moz-box-shadow:inset 0px 0px 14px 3px #9fb4f2;
	-webkit-box-shadow:inset 0px 0px 14px 3px #9fb4f2;
	box-shadow:inset 0px 0px 14px 3px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	border:6px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:9px 33px;
	text-decoration:none;
	text-shadow:0px 1px 36px #283966;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
  margin-right: 10px;
}
.myButton:active {
	position:relative;
	top:1px;
  margin-right: 10px;
}

  /*Estilos para la tabla*/
  .tg-wrap{
    overflow-y: scroll;
    height:360px;
    width:870px;
    position: relative;
    margin-right: 25%;
    /*margin:0px auto;*/
    margin-top: 5px;
    align-items: center;
  }
  .tg {
    position:center;
    border-collapse:collapse;
    border-spacing:0;
    border-color:#aabcfe;
    margin:0px auto;

  }
  .tg td{
    position: center;
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#aabcfe;
    color:#669;
    background-color:#e8edff;
  }
  .tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#aabcfe;
    color:#039;
    background-color:#b9c9fe;
  }
  .tg .tg-baqh{
    text-align:center;
    vertical-align:top;
  }
  .tg .tg-yw4l{
    vertical-align:top;
  }
  .tg .tg-6k2t{
    background-color:#D2E4FC;
    vertical-align:top;
  }
  .tg .tg-j0tj{
    background-color:#D2E4FC;
    text-align:center;
    vertical-align:top;
  }
  /*Responsive tabla hasta una media de  767px*/
  @media screen and (max-width: 767px) {
    .tg {
      width: auto !important;
      }
      .tg col {
        width: auto !important;
      }
      .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: auto 0px;
      }
    }

     /*Estilos de inicio de secion*/

     *{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  font-family:arial;
}
body{background:url("http://www.galaxiastudio.com/wp-content/uploads/2014/03/2252.jpg")#FF9000}
h1{
  color:#AAA173;
  text-align:center;
  font-faimly:icon;
}

.login-form{
  width:350px;
  padding:40px 30px;
  background:rgba(235,235,205,0.7);
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  margin:50px auto;
}
.form-group{
  position: relative;
  margin-bottom:15px;
}
.form-control{
  width:100%;
  height:50px;
  border:none;
  padding:5px 7px 5px 15px;
  background:#fff;
  color:#666;
  border:2px solid #E0D68F;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}
.form-control:focus, .form-control:focus + .fa{
  border-color:#10CE88;
  color:#10CE88;
}
.form-group .fa{
  position: absolute;
  right:15px;
  top:17px;
  color:#999;
}
.log-status.wrong-entry {
  -webkit-animation: wrong-log 0.3s;
  -moz-animation: wrong-log 0.3s;
  -ms-animation: wrong-log 0.3s;
  animation: wrong-log 0.3s;
}
.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
  border-color: #ed1c24;
  color: #ed1c24;
}
@keyframes wrong-log {
  0% { left: 0px;}
  20% {left: 15px;}
  40% {left: -15px;}
  60% {left: 15px;}
  80% {left: -15px;}
  100% {left: 0px;}
}
@-ms-keyframes wrong-log {
  0% { left: 0px;}
  20% {left: 15px;}
  40% {left: -15px;}
  60% {left: 15px;}
  80% {left: -15px;}
  100% {left: 0px;}
}
@-moz-keyframes wrong-log {
  0% { left: 0px;}
  20% {left: 15px;}
  40% {left: -15px;}
  60% {left: 15px;}
  80% {left: -15px;}
  100% {left: 0px;}
}
@-webkit-keyframes wrong-log {
  0% { left: 0px;}
  20% {left: 15px;}
  40% {left: -15px;}
  60% {left: 15px;}
  80% {left: -15px;}
  100% {left: 0px;}
}
.log-btn{
  background:#0AC986;
  dispaly:inline-block;
  width:100%;
  font-size:16px;
  height:50px;
  color:#fff;
  text-decoration:none;
  border:none;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
}

.link{
  text-decoration:none;
  color:#9D8E79;
  display:block;
  text-align:right;
  font-size:12px;
  margin-bottom:15px;
}
.link:hover{
  text-decoration:underline;
  color:#8C918F;
}
.alert{
  display:none;
  font-size:12px;
  color:#f00;
  float:left;
}
