{%extends 'index.html'%}
{% block menu %}
{% endblock %}
{% block iniciar_secion %}
<hr>
{% endblock %}
{% block obtener %}
<br>
<br>
{% endblock %}
{% block vacio %}
<br>
<br>
{% endblock %}
{% block table %}
    {% block subtitle %}
    <h3>Depurar Registro</h3>
    {% endblock %}
        <div class="tg-wrap"><table class="tg">
        <tr>
          <th class="tg-yw4l">Grupo de causas</th>
          <th class="tg-yw4l">Fecha</th>
          <th class="tg-yw4l">Masculino</th>
          <th class="tg-yw4l">Femenino</th>
          <th class="tg-yw4l">Total</th>
          <th></th>
        </tr>
        {% for muertes in object_list %}
        <tr>
            <td class="tg-6k2t">{{ muertes.causas }}</td>
            <td class="tg-6k2t">{{ muertes.fecha }}</td>
            <td class="tg-j0tj">{{ muertes.cantidadHombres }}</td>
            <td class="tg-j0tj">{{ muertes.cantidadMujeres }}</td>
            <td class="tg-j0tj">{{ muertes.total }}</td>
            <td>
                <a href="{{ muertes.get_absolute_url }}" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-th-large"></span></a>

                <a href="{% url 'eliminar' pk=muertes.idMuerte %}" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-trash"></span></a>

                <a href="{% url 'nuevo' pk=muertes.idMuerte %}" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-pencil"></span></a>
            </td>
          </tr>
          {% endfor %}
        </table>
     </div>

    <div class="info">
    <br>
    <br>
    {% block botones %}
        <a href="inicio" class="myButton" style="margin-left:20%;">Terminar</a>
    {% endblock %}
    </div>
</div>
{% endblock %}
{% block grafico %}
{% endblock %}
{% block form %}
{% endblock %}
