{% extends 'depurar.html' %}
{% block subtitle %}
{% endblock %}
{% block vacio %}
<br>
<br>
{% endblock %}
{% block table %}
<h1 style="position:center;">Detalle del Resitro</h1>
<br>
<div class="info">
<h3>Detalle del Registro: {{ muertes.idMuerte }}</h3>
<hr/>
<div class="form-group">
<dl class="dl-horizontal">
    <dt>Causas:</dt>
        <dd>{{muertes.causas}}</dd>
    <dt>Fecha:</dt>
        <dd>{{muertes.fecha}}</dd>
    <dt>Cantidad Hombres:</dt>
        <dd>{{muertes.cantidadHombres}}</dd>
    <dt>Cantidad Mujeres:</dt>
        <dd>{{muertes.cantidadMujeres}}</dd>
    <dt>Total:</dt>
        <dd>{{muertes.total}}</dd>
    <br>
</dl>
    <br>
{% block botones %}
    <br>
<div class="nv">
  <br>
  <a href="{% url 'depurar'%}" class="myButton">Terminar</a>
</div>
{% endblock %}
</div>
{% endblock %}
