{% extends 'depurar.html' %}
{% block subtitle %}
{% endblock %}
{% block vacio %}
<br>
<br>
{% endblock %}
{% block table %}
<h1 style="position:center;">Eliminar Registro</h1>
<br>
<div class="info">
<h3>Esta seguro que desea eliminar el registro: {{ muertes.idMuerte }}?</h3>
<hr/>
<div class="form-group">
<dl class="dl-horizontal">
    <dt>Causas:</dt>
        <dd>{{muertes.causas}}</dd>
    <dt>Fecha:</dt>
        <dd>{{muertes.fecha}}</dd>
    <dt>Cantidad Hombres:</dt>
        <dd>{{muertes.cantidadHombres}}</dd>
    <dt>Cantidad Mujeres:</dt>
        <dd>{{muertes.cantidadMujeres}}</dd>
    <dt>Total:</dt>
        <dd>{{muertes.total}}</dd>
    <br>
    <br>
</dl>
{% block botones %}
    <br>

<form action="{% url 'eliminar' pk=muertes.idMuerte %}" method="post">
{% csrf_token %}
<button type="submit" class="myButton">Si,Eliminar</button> <a href="{% url 'depurar' %}" class="myButton">No,Cancelar</a>
</form>
  <br>  
{% endblock %}
</div>
{% endblock %}
