﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mortalidad en El Salvador y sus causas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css"/>
    <link rel="stylesheet" type="text/css" href="../static/fonts/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
  </head>
  <body>
    <div class="content">
        <h1>Mortalidad en El Salvador</h1>
        <img src="/static/img/logo.jpg" alt="" />
        {% block iniciar_secion %}
        {% endblock %}
    </div>
    {% block menu %}
    <header>
		    <div class="menu_bar">
			       <a href="#" class="bt-menu"><span class="icon-list2"></span>Menú</a>
		    </div>
		<nav>
			<ul>
				<li class="submenu">
          <a href="#"><span class="icon-suitcase"></span>Procesar informacion<span class="caret icon-arrow-down6"></span></a>
          <ul class="children">
            <li><a href="nuevo">Ingresar informacion<span class="icon-dot"></span></a></li>
	    <li><a href="depurar">Depurar informacion<span class="icon-dot"></span></a></li>
          </ul>
        </li>
				<li class="submenu">
					<a href="#"><span class="icon-rocket"></span>Seleccionar grafico<span class="caret icon-arrow-down6"></span></a>
					<ul class="children">
						<li><a href="#">Grafico de barras<span class="icon-dot"></span></a></li>
						<li><a href="#">Grafico de pastel<span class="icon-dot"></span></a></li>
						<li><a href="#">Grafico lineal<span class="icon-dot"></span></a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>
  {% endblock %}
  <br>
     <div class="main-content">
        {% block obtener %}
         <div class="obtener"><figcaption id="legenda">Obtener informacion</figcaption>
           <br>
           <nav class="menu2">
             <select class="obd" name="Anio">
               {% for fecha in fechas %}
               <option value="{{ fecha }}">{{ fecha }}</option>
               {% endfor %}
            </select>
             <select class="obd" name="Sexo">
               <option value="mujer">Mujer</option>
               <option value="hombre">Hombre</option>
             </select>
             <a href="#" class="myButton">Generar Reporte</a>
           </nav>
         </div>
         {% endblock %}
         {% block table %}
         <div class="tg-wrap"><table class="tg">
        <tr>
          <th class="tg-yw4l">Grupo de causas</th>
          <th class="tg-yw4l">Fecha</th>
          <th class="tg-yw4l">Masculino</th>
          <th class="tg-yw4l">Femenino</th>
          <th class="tg-yw4l">Total</th>
        </tr>
        {% for muertes in muerte %}
        <tr>
            <td class="tg-6k2t">{{ muertes.causas }}</td>
            <td class="tg-6k2t">{{ muertes.fecha }}</td>
            <td class="tg-j0tj">{{ muertes.cantidadHombres }}</td>
            <td class="tg-j0tj">{{ muertes.cantidadMujeres }}</td>
            <td class="tg-j0tj">{{ muertes.total }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% endblock %}
      {% block grafico %}
      <div id="container"></div>
      {% endblock %}
      {% block form %}
      <br>
      <form class="archivo" action="index.html" method="get" enctype="multipart/form-data">
        <label for="sl">Seleccionar Archivo</label> <input name="imagen" type="file" id="sl">
      </form>
      {% endblock %}
      {% block vacio %}
      {% endblock %}
    </div>
   <script type="text/javascript" src="/static/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

  </body>
</html>
