{% extends 'depurar.html' %}
{% block subtitle %}
{% endblock %}
{% block vacio %}
<br>
<br>
{% endblock %}
{% block table %}
{% if muertes.idMuerte %}
<h1 style="position:center;">Editar Registro</h1>
{% else %}
<h1 style="position:center;">Ingrese el nuevo Registro</h1>
{% endif %}
<br>
<div class="info">
<form action="{{action}}" class="form-horizontal" method="post">
  {% csrf_token %}

  {% for element in form %}	
  <div class="form-group">
  <label class="col-md-2 control-label">{{element.label}}</label>
  <div class="col-md-7"> {{element}}
  <div class="error">{{element.errors}}</div>
  </div>
  </div> {% endfor %}
<br>
<br>
{% block botones %}
<br>
<div class="nv">
  <button type="submit" class="myButton">Ingresar</button>
  <br>
  <br>
  <a href="inicio" class="myButton">Terminar</a>
</div>
{% endblock %}
</div>
{% endblock %}
