{% extends 'index.html' %}
{% block iniciar_secion %}
<div class="secion">
   <a href="iniciar_secion" class="log"><span class="icon-user"></span>Iniciar secion</a>
</div>

{% endblock %}
{% block menu %}
{% endblock %}
{% block obtener %}
<br>
<br>
{% endblock %}
{% block table %}
<div class="tg-wrap"><table class="tg">
<tr>
 <th class="tg-yw4l">Grupo de causas</th>
 <th class="tg-yw4l">Fecha</th>
 <th class="tg-yw4l">Masculino</th>
 <th class="tg-yw4l">Femenino</th>
 <th class="tg-yw4l">Total</th>
</tr>
{% for muertes in muerte %}
<tr>
   <td class="tg-6k2t">{{ muertes.causas }}</td>
   <td class="tg-6k2t">{{ muertes.fecha }}</td>
   <td class="tg-j0tj">{{ muertes.cantidadHombres }}</td>
   <td class="tg-j0tj">{{ muertes.cantidadMujeres }}</td>
   <td class="tg-j0tj">{{ muertes.total }}</td>
 </tr>
 {% endfor %}
</table>
</div>
{% endblock %}
{% block grafico %}
<div class="pre">
  <h1>Grupo 6</h1>
  <br>
  <br>
  <h2>HDP-115</h2>
</div>
{% endblock %}
{% block form %}
{% endblock %}
